{% include 'admin_header.html' %}

<!-- Main Section -->
<div class="container main-section">
    <div class="row">

        <!-- Left Content -->
        <div class="col-md-8">
            <div class="welcome-box">
<h2> Welcome Back...</h2>



            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="sidebar-box">
                <img src="/static/images/admin_icon.png" height="400px" width=" 380px" alt="">
            <h2>  {{session['name']}} </h2>
            </div>

            <div class="sidebar-box">
                <h5>CATEGORIES</h5>
                <ul class="list-unstyled">
                    <li>Employee Management</li>
                    <li>Attendance</li>
                    <li>Payroll</li>
                    <li>Leave System</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer>
    © 2026 HR ERP System | Designed by Ajit Yadav
</footer>

