{% include 'header.html' %}

<!-- Main Section -->
<div class="container main-section">
    <div class="row">

        <!-- Left Content -->
        <div class="col-md-8">
            <div class="welcome-box">
                <h2> CONTACT US!  </h2>
                <form action="" method="get">
                    <hr>
                    Name<input type="text" name="txtName" class="form-control">
                    <br>
                    Email<input type="text" name="txtEmail" class="form-control">
                    <br>
                    Massage <textarea class="form-control" rows="4" name="txtMassage" placeholder="Write Something..."></textarea>
                    <br>
                    <button class="btn btn-success" >Send</button>

                </form>

            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="sidebar-box">
                <h5>NOTICE</h5>
                <p>
                    Mauris vitae nisl nec metus placerat. Phasellus dapibus semper consectetur.
                </p>
            </div>

            <div class="sidebar-box">
                <h5>CATEGORIES</h5>
                <ul class="list-unstyled">
                    <li>Employee Management</li>
                    <li>Attendance</li>
                    <li>Payroll</li>
                    <li>Leave System</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer>
    © 2026 HR ERP System | Designed by Ajit Yadav
</footer>
